<html>
  <head>
    <title>Sendgrid E-mail</title>
  </head>

  <body>
    <div class="container">
      <div class="row-fluid">
        <div class="well">
          <%= form_tag({}, :class => "form-horizontal") do %>          
        
            <fieldset>
              <legend class = "legend">
                <div class = "title">E-mail</div>
                <div class = "sendgrid-logo">
                  <%= image_tag("sendgrid_logo.png") %>
                </div>
              </legend>
              
              <div class="control-group">
                <%= label_tag(:toName, "To Name:", :class => "control-label") %>
                <div class="controls">
                  <%= text_field_tag("toName", "") %>
                </div>
              </div>

              <div class="control-group">
                <%= label_tag(:toAddress, "To:", :class => "control-label") %>
                <div class="controls">
                  <%= text_field_tag("toAddress", "") %>
                </div>
              </div>

              <div class="control-group">
                <%= label_tag(:fromName, "From Name:", :class => "control-label") %>
                <div class="controls">
                  <%= text_field_tag("fromName", "") %>
                </div>
              </div>

              <div class="control-group">
                <%= label_tag(:fromAddress, "From Address:", :class => "control-label") %>
                <div class="controls">
                  <%= text_field_tag("fromAddress", "") %>
                </div>
              </div>

              <div class="control-group">
                <%= label_tag(:subject, "Subject:", :class => "control-label") %>
                <div class="controls">
                  <%= text_field_tag("subject", "") %>
                </div>
              </div>

              <div class="control-group">
                <%= label_tag(:body, "Message:", :class => "control-label") %>
                <div class="controls">
                  <%= text_area_tag(:body) %>
                </div>
              </div>

              <div class="control-group">
                <%= submit_tag("Send") %>
              </div>
            </fieldset>
          <% end %>
        </div>

        <div class="row-fluid">
          <p class="text-info"></p>
        </div>

      </div>
    </div>

    <div id='msgbox' title='' style='display:none'></div>
  </body>
</html>