<div class="container">
  <div class="row-fluid">
    <div class="well">
      <%= form_tag({}, :class => "form-horizontal") do %>          
    
        <fieldset>
          <legend class = "legend">
            <div class = "title">E-mail</div>
            <div class = "sendgrid-logo">
              <%= image_tag("sendgrid_logo.png") %>
            </div>
          </legend>
          
          <div class="control-group<%= @error %>">
            <div class="alert alert-error">
              <button data-dismiss="alert" class="close" type="button">&times;</button>
              <%= @e %>
            </div>
          </div>
          
          <div class="control-group">
            <%= label_tag(:toAddress, "To:", :class => "control-label") %>
            <div class="controls">
              <%= text_field_tag "toAddress", "#{@toAddress}", :placeholder => "John Doe <john.doe@example.com>", :class => "input-xxlarge" %>
            </div>
          </div>

          <div class="control-group">
            <%= label_tag(:ccAddress, "CC:", :class => "control-label") %>
            <div class="controls">
              <%= text_field_tag "ccAddress", "#{@ccAddress}", :placeholder => "John Doe <john.doe@example.com>", :class => "input-xxlarge" %>
            </div>
          </div>

          <div class="control-group">
            <%= label_tag(:bccAddress, "BCC:", :class => "control-label") %>
            <div class="controls">
              <%= text_field_tag "bccAddress", "#{@bccAddress}", :placeholder => "John Doe <john.doe@example.com>", :class => "input-xxlarge" %>
            </div>
          </div>

          <div class="control-group">
            <%= label_tag(:fromAddress, "From:", :class => "control-label") %>
            <div class="controls">
              <%= text_field_tag "fromAddress", "#{@fromAddress}", :placeholder => "John Doe <john.doe@example.com>", :class => "input-xxlarge" %>
            </div>
          </div>

          <div class="control-group">
            <%= label_tag(:subject, "Subject:", :class => "control-label") %>
            <div class="controls">
              <%= text_field_tag "subject", "#{@subject}", :class => "input-xxlarge" %>
            </div>
          </div>

          <div class="control-group">
            <%= label_tag(:body, "Message:", :class => "control-label") %>
            <div class="controls">
              <%= text_area_tag :body, "#{@body}", :class => "input-xxlarge" %>
            </div>
          </div>
          
          <div class="control-group controls">
            <%= button_tag(:type => "submit", :class => "btn btn-primary") do -%>
              <%= content_tag :i, :class =>"icon-envelope icon-white" do -%>
              <% end -%> Send
            <% end -%>
            <%= button_tag(:type => "reset", :class => "btn btn-warning") do -%>
              <%= content_tag :i, :class =>"icon-remove icon-white" do -%>
              <% end -%> Reset
            <% end -%>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
